{% extends 'base.html' %} {% load static %}

<!-- Hoja de estilos de esta pagina -->
{% block styles %} {% static 'css/cursos.css' %} {% endblock styles %}

<!-- Contenido de esta pagina -->


{% block main %}
<h1 class="titulo-seccion-cursos">Oferta de cursos</h1>

<div class="contenedor-barra-busqueda">
    <form method="get">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar curso..." name="buscar" value="{{request.GET.buscar}}">
                <button type="submit" class="boton-buscar"><i class="fas fa-search lupa"></i>Buscar</button>
            </div>
        </div>
    </form>
    <div class="filtros">
        <form method="get">
            <label for="idioma">Idioma</label>
            <select name="idioma" id="idioma">
                <option>Seleccionar...</option>
                <option value="I">Inglés</option>
                <option value="A">Alemán</option>
                <option value="F">Francés</option>
                <option value="P">Portugués</option>
            </select>
            <label for="nivel">Nivel</label>
            <select name="nivel" id="nivel">
                <option>Seleccionar...</option>
                <option value="P">Principiante</option>
                <option value="I">Intermedio</option>
                <option value="A">Avanzado</option>
            </select>
            <button type="submit">Aplicar filtros</button>
        </form>
    </div>
</div>

<section class="oferta-cursos">
    {% if cursos %} {% for curso in cursos %}

    <div class="card-wrap">
        <div class="card-curso">
            <div class="card-front">
                {% if curso.idioma == 'I' %}
                <div class="card-curso-header ingles"></div>
                {% elif curso.idioma == 'A' %}
                <div class="card-curso-header aleman"></div>
                {% elif curso.idioma == 'F' %}
                <div class="card-curso-header frances"></div>
                {% else %}
                <div class="card-curso-header portugues"></div>
                {% endif %}
                <div class="card-curso-contenido">
                    <h2 class="titulo-curso">{{ curso.titulo }}</h2>
                    <h3 class="idioma">{{ curso.get_idioma_display }} {{ curso.get_nivel_display }} </h3>
                    <div class="footer-card-curso">
                        <div class="modalidad">
                            {% if curso.modalidad == 'V' %}
                            <i class="fas fa-desktop modalidad-icono"></i> {% else %}
                            <i class="fas fa-user-friends modalidad-icono"></i> {% endif %}
                            <h2 class="modalidad-titulo">{{ curso.get_modalidad_display }}</h2>
                        </div>
                        <div class="duracion">
                            <i class="far fa-calendar-alt duracion-icono"></i> {% if curso.duracion == 1 %}
                            <h2 class="duracion-titulo">{{ curso.duracion }} dia</h2>
                            {% else %}
                            <h2 class="duracion-titulo">{{ curso.duracion }} dias</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-back">
                {% if curso.inscripciones_abiertas %}
                <h2 class="inscripciones inscripciones-abiertas">Incripciones abiertas</h2>
                {% else %}
                <h2 class="inscripciones incripciones-cerradas">Incripciones cerradas</h2>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %} {% else %}
    <h2 class="no-cursos">Lo sentimos, no tenemos cursos para mostrar en este momento...</h2>

    {% endif %}
</section>

{% endblock main %}