{% extends 'base.html' %} {% load static %}

<!-- Hoja de estilos de esta pagina -->
{% block styles %} {% static 'css/index.css' %} {% endblock styles %}

<!-- Contenido de esta pagina -->
{% block main %}

<section class="explorar-idiomas">
    <h1 class="titulo-index">Descubre junto a Dino nuestra oferta de cursos</h1>
    <div class="grupo-cards-idiomas">
        <a class="card-idioma" href="{% url 'cursos:cursos' %}">
            <img class="bandera-idioma" src="{% static 'images/flag-uk.png' %}" alt="Bandera UK">
            <h2 class="titulo-idioma">Inglés</h2>
        </a>
        <a class="card-idioma" href="{% url 'cursos:cursos' %}">
            <img class="bandera-idioma" src="{% static 'images/germany-flag.png' %}" alt="Bandera Alemania">
            <h2 class="titulo-idioma">Alemán</h2>
        </a>
        <a class="card-idioma" href="{% url 'cursos:cursos' %}">
            <img class="bandera-idioma" src="{% static 'images/french-flag.png' %}" alt="Bandera Francia">
            <h2 class="titulo-idioma">Francés</h2>
        </a>
        <a class="card-idioma" href="{% url 'cursos:cursos' %}">
            <img class="bandera-idioma" src="{% static 'images/portugal-flag.png' %}" alt="Bandera Portugal">
            <h2 class="titulo-idioma">Portugués</h2>
        </a>
    </div>
</section>

<section class="quienes-somos">
    <h2 class="titulo-quienes-somos">¿Quiénes somos?</h2>
    <p class="texto-quienes-somos">Somos la primera Escuela de Idiomas pensada para personas de todas las edades, con una amplia oferta de cursos en cuatro idiomas: Inglés Británico, Alemán, Francés y Portugués (Portugal), en todos los niveles. Con profesores altamente capacitados
        y un método de enseñanza disruptivo, para que aprendas el lenguaje de manera natural, sin memorizar gramática, utilizando vocabulario y expresiones modernas nativas.
    </p>
</section>
<section class="informacion-general">
    <div class="info-card">
        <i class="fas fa-desktop"></i><span>/</span><i class="fas fa-user-friends"></i>
        <h2 class="info-titulo">Modalidad</h2>
        <p class="info-descripcion">Elije entre modalidad virtual o presencial, para que tu curso se adapte a tus necesidades y preferencias</p>
    </div>
    <div class="info-card">
        <i class="fas fa-comments"></i>
        <h2 class="info-titulo">Profesores nativos</h2>
        <p class="info-descripcion">Aprende con profesores nativos, utilizando lenguaje cotidiano y moderno para tu día a día</p>
    </div>
    <div class="info-card">
        <i class="fas fa-book-open"></i>
        <h2 class="info-titulo">Material extra</h2>
        <p class="info-descripcion">Todos nuestros cursos incluyen material extra para que continues practicando desde casa</p>
    </div>
    <div class="info-card">
        <i class="far fa-calendar-alt"></i>
        <h2 class="info-titulo">Todo el año</h2>
        <p class="info-descripcion">Con nuestra amplia oferta de cursos siempre tendrás una opción disponible para continuar aprendiendo </p>
    </div>
</section>

{% endblock main %}